[Unit]
Description="Enhydris {{ enhydris_instance_name }} celery"

[Service]
User={{ dbname|default(enhydris_instance_name) }}
Group={{ dbname|default(enhydris_instance_name) }}
WorkingDirectory=/opt/enhydris-{{ enhydris_instance_name }}
Environment="PYTHONPATH=/etc/opt/enhydris/{{ enhydris_instance_name }}"
Environment="DJANGO_SETTINGS_MODULE=settings"
ExecStart=/opt/enhydris-{{ enhydris_instance_name }}/venv/bin/celery \
    --app=enhydris.celery:app worker --hostname="{{ enhydris_instance_name }}@%%h" \
    --queues={{ enhydris_instance_name }} --loglevel=info --concurrency={{ enhydris_instance_celery_concurrency }} \
    --logfile=/var/log/enhydris/{{ enhydris_instance_name }}/celery.log

[Install]
WantedBy=multi-user.target
